{% extends "converse/base.html" %}

{% block content %}

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">操作
            <span class="caret"></span></button>
        <ul class="dropdown-menu">
            <li><a href="/delivery/add" >新增快递</a></li>
            <li><a href="/delivery/all">显示全部快递（包括已完成）</a></li>
        </ul>
    </div>

    <table class="table table-striped table-hover">
        <tr>
            <th></th>
            <th>收件人</th>
            <th>单号</th>
            <th>发货日期</th>
            <th>是否已结束</th>
{#            <th>注释</th>#}
            <th>订单详情</th>
{#            <th>命令</th>#}
        </tr>
        {% for delivery in object_list %}
            <tr>
                <td>
                    <form action="/delivery/update/{{ delivery.id }}" method="get">
                        <button class="btn btn-info"># {{ delivery.id }}</button>
                    </form>
                </td>
                <td>{{ delivery.order.person.name }}</td>
{#                <td>{{ delivery.company.name }} / {{ delivery.serial }}</td>#}
                <td>{{ delivery.started }}</td>
                <td>
                    {% if delivery.order.done %}
                        已结束
                    {% else %}
                        进行中
                    {% endif %}
                </td>
{#                <td>{{ delivery.comment }}</td>#}
                <td>
                    {{ delivery.order.detail }}
                </td>
{#                <td>#}
{#                    <a href="/delivery/update/{{ delivery.id }}">修改</a>#}
{#                    <br>#}
{#                    <a href="/order/update/{{ delivery.order.id }}">完成</a>#}
{#                    查看订单#}
{#                    确认结束#}
{#                </td>#}
            </tr>
        {% endfor %}
    </table>

{% endblock %}
