{% extends "converse/base.html" %}

{% block content %}

    <table class="table table-striped table-hover">
        <tr>
            <td>ID</td>
            <td>{{ object.id }}</td>
        </tr>
        <tr>
            <td>Person</td>
            <td>
{#                <a herf="/order/detail/{{ object.order.id }}"> #}
                    {{ object.person.name }}
{#                </a>#}
            </td>
        </tr>
        <tr>
            <td>Detail</td>
            <td> {{ object.detail }} </td>
        </tr>
        <tr>
            <td>Started</td>
            <td> {{ object.started }} </td>
        </tr>
        <tr>
            <td>Paid</td>
            <td> {{ object.paid }} </td>
        </tr>
        <tr>
            <td>Done</td>
            <td> {{ object.done }} </td>
        </tr>
        {% for delivery in object.delivery_set.all %}
            <tr>
                <td>{{ delivery.id }}</td>
                <td>
                    <a href="/delivery/detail/{{ delivery.id }}">
                        {{ delivery.company.name }} / {{ delivery.serial }}
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}